## Traitement de la base sirene

In [90]:
import os 

import pandas as pd

In [91]:
# Déclaration des constantes
DATA_DIR = '../deserts-medicaux/data/external/'
ENTITIES_FILENAME = 'StockUniteLegale_utf8.zip'
ETAB_FILENAME = 'StockEtablissement_utf8.zip'

ACTIVITY_CODE = "86."

## Préparation des entités

In [92]:
pd.read_csv(os.path.join(DATA_DIR, ENTITIES_FILENAME), #Concaténation du répertoire et du nom de fichier
            compression='zip',
            nrows=1000 #limite à 1000 lignes la lecture
           ).head()

,siren,statutdiffusionunitelegale,unitepurgeeunitelegale,datecreationunitelegale,sigleunitelegale,sexeunitelegale,prenom1unitelegale,prenom2unitelegale,prenom3unitelegale,prenom4unitelegale,...,denominationunitelegale,denominationusuelle1unitelegale,denominationusuelle2unitelegale,denominationusuelle3unitelegale,categoriejuridiqueunitelegale,activiteprincipaleunitelegale,nomenclatureactiviteprincipaleunitelegale,nicsiegeunitelegale,economiesocialesolidaireunitelegale,caractereemployeurunitelegale
0,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,32.12Z,NAFRev2,65,NaN,N
1,1807254,O,NaN,1972-05-01,NaN,M,JACQUES-LUCIEN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,85.59A,NAFRev2,22,NaN,N
2,5410220,O,True,1954-12-25,NaN,M,GEORGES,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,22.02,NAP,15,NaN,N
3,5410345,O,True,NaN,NaN,M,MICHEL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,79.06,NAP,10,NaN,N
4,5410394,O,True,1954-12-25,NaN,M,ROBERT,ALFRED,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,64.42,NAP,18,NaN,N

In [93]:
pd.read_csv(os.path.join(DATA_DIR, ENTITIES_FILENAME), #Concaténation du répertoire et du nom de fichier
            compression='zip',
            nrows=1000 #limite à 1000 lignes la lecture
           ).columns

Index(['siren', 'statutdiffusionunitelegale', 'unitepurgeeunitelegale',
       'datecreationunitelegale', 'sigleunitelegale', 'sexeunitelegale',
       'prenom1unitelegale', 'prenom2unitelegale', 'prenom3unitelegale',
       'prenom4unitelegale', 'prenomusuelunitelegale', 'pseudonymeunitelegale',
       'identifiantassociationunitelegale', 'trancheeffectifsunitelegale',
       'anneeeffectifsunitelegale', 'datederniertraitementunitelegale',
       'nombreperiodesunitelegale', 'categorieentreprise',
       'anneecategorieentreprise', 'datedebut', 'etatadministratifunitelegale',
       'nomunitelegale', 'nomusageunitelegale', 'denominationunitelegale',
       'denominationusuelle1unitelegale', 'denominationusuelle2unitelegale',
       'denominationusuelle3unitelegale', 'categoriejuridiqueunitelegale',
       'activiteprincipaleunitelegale',
       'nomenclatureactiviteprincipaleunitelegale', 'nicsiegeunitelegale',
       'economiesocialesolidaireunitelegale', 'caractereemployeurunitelegale'],
      dtype='object')

In [96]:
# Les activités qui nous interessent sont les 86.

entities_df = (pd.read_csv(os.path.join(DATA_DIR, ENTITIES_FILENAME), #Concaténation du répertoire et du nom de fichier
                           usecols=['siren','activiteprincipaleunitelegale','datecreationunitelegale',
                                    'denominationunitelegale','nomunitelegale','etatadministratifunitelegale'],
                           compression='zip',
                           #nrows=100000 #limite à 1000 lignes la lecture
                          )
              ).dropna(subset=['activiteprincipaleunitelegale']).query('etatadministratifunitelegale == "A"')

# Filtrage des professionnels de santé
#entities_df = entities_df[entities_df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)] # 86.

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [97]:
entities_df.shape

(11696143, 6)

In [98]:
entities_df.denominationunitelegale.isnull().sum()

4403344

In [99]:
entities_df.nomunitelegale.isnull().sum()

7292817

In [100]:
entities_df.denominationunitelegale.isnull().sum() + entities_df.nomunitelegale.isnull().sum() == entities_df.shape[0]

False

## Preparation des établissements

In [64]:
pd.read_csv(os.path.join(DATA_DIR, ETAB_FILENAME), #Concaténation du répertoire et du nom de fichier
            compression='zip',
            nrows=1000 #limite à 1000 lignes la lecture
           ).head()

,siren,nic,siret,statutdiffusionetablissement,datecreationetablissement,trancheeffectifsetablissement,anneeeffectifsetablissement,activiteprincipaleregistremetiersetablissement,datederniertraitementetablissement,etablissementsiege,...,libellepaysetranger2etablissement,datedebut,etatadministratifetablissement,enseigne1etablissement,enseigne2etablissement,enseigne3etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,nomenclatureactiviteprincipaleetablissement,caractereemployeuretablissement
0,325175,16,32517500016,O,2000-09-26,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2009-05-27,F,NaN,NaN,NaN,NaN,32.12Z,NAFRev2,N
1,325175,24,32517500024,O,2008-05-20,NaN,NaN,NaN,2011-12-12T09:40:04,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,47.89Z,NAFRev2,N
2,325175,32,32517500032,O,2009-05-27,NaN,NaN,NaN,2014-07-08T00:10:21,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,32.12Z,NAFRev2,N
3,325175,40,32517500040,O,2011-10-21,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2014-01-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N
4,325175,57,32517500057,O,2014-01-07,NaN,NaN,NaN,2018-07-10T14:17:15,False,...,NaN,2018-02-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N

In [66]:
pd.read_csv(os.path.join(DATA_DIR, ETAB_FILENAME), #Concaténation du répertoire et du nom de fichier
            compression='zip',
            nrows=1000 #limite à 1000 lignes la lecture
           ).columns

Index(['siren', 'nic', 'siret', 'statutdiffusionetablissement',
       'datecreationetablissement', 'trancheeffectifsetablissement',
       'anneeeffectifsetablissement',
       'activiteprincipaleregistremetiersetablissement',
       'datederniertraitementetablissement', 'etablissementsiege',
       'nombreperiodesetablissement', 'complementadresseetablissement',
       'numerovoieetablissement', 'indicerepetitionetablissement',
       'typevoieetablissement', 'libellevoieetablissement',
       'codepostaletablissement', 'libellecommuneetablissement',
       'libellecommuneetrangeretablissement',
       'distributionspecialeetablissement', 'codecommuneetablissement',
       'codecedexetablissement', 'libellecedexetablissement',
       'codepaysetrangeretablissement', 'libellepaysetrangeretablissement',
       'complementadresse2etablissement', 'numerovoie2etablissement',
       'indicerepetition2etablissement', 'typevoie2etablissement',
       'libellevoie2etablissement', 'codepostal2etablissement',
       'libellecommune2etablissement', 'libellecommuneetranger2etablissement',
       'distributionspeciale2etablissement', 'codecommune2etablissement',
       'codecedex2etablissement', 'libellecedex2etablissement',
       'codepaysetranger2etablissement', 'libellepaysetranger2etablissement',
       'datedebut', 'etatadministratifetablissement', 'enseigne1etablissement',
       'enseigne2etablissement', 'enseigne3etablissement',
       'denominationusuelleetablissement', 'activiteprincipaleetablissement',
       'nomenclatureactiviteprincipaleetablissement',
       'caractereemployeuretablissement'],
      dtype='object')

In [101]:
etab_df = (pd.read_csv(os.path.join(DATA_DIR, ETAB_FILENAME), #Concaténation du répertoire et du nom de fichier
                       usecols=['siren','activiteprincipaleetablissement','datecreationetablissement',
                                'denominationusuelleetablissement','etatadministratifetablissement',
                                'codepostaletablissement','codecommuneetablissement','libellecommuneetablissement'],
                       compression='zip',
                       #nrows=100000 #limite à 1000 lignes la lecture
                      )
          ).dropna(subset=['activiteprincipaleetablissement']).query('etatadministratifetablissement == "A"')

# Filtrage des professionnels de santé
#etab_df = etab_df[etab_df.activiteprincipaleetablissement.str.startswith(ACTIVITY_CODE)] # 86.

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [102]:
etab_df.shape

(11233968, 8)

In [103]:
entities_df.dtypes

siren                             int64
datecreationunitelegale          object
etatadministratifunitelegale     object
nomunitelegale                   object
denominationunitelegale          object
activiteprincipaleunitelegale    object
dtype: object

In [104]:
etab_df.dtypes

siren                                 int64
datecreationetablissement            object
codepostaletablissement             float64
libellecommuneetablissement          object
codecommuneetablissement             object
etatadministratifetablissement       object
denominationusuelleetablissement     object
activiteprincipaleetablissement      object
dtype: object

In [105]:
process_df = etab_df.merge(entities_df, on='siren', how='left')

In [106]:
process_df.shape

(11233968, 13)

In [107]:
etab_df.shape

(11233968, 8)

In [108]:
# Etablissement qui n'ont pas d'entité légale
process_df[process_df.activiteprincipaleunitelegale.isnull()].shape

(23, 13)

In [ ]:
etab_df.merge(entities_df, on='siren', how='outer', indicator=True)['_merge'].value_counts()
# 8994 entités qui n'ont pas d'établissements